.story {
  grid-column: full-start / full-end;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(30vw, 1fr));
  &__pictures {
    background-image: linear-gradient(
        rgba($color-primary, 0.5),
        rgba($color-primary, 0.5)
      ),
      url(../img/back.jpg);
    background-size: cover;
    background-position: center;
  }
  &__content {
    display: grid;
    align-content: center;
    justify-items: start;
    padding: 6rem 8vw;
    background-color: $color-grey-light-1;
  }
  &__text {
    margin-bottom: 4rem;
    font-size: 1.5rem;
    font-style: italic;
  }
}
